# A simple dash app

In [1]:
from dash import Dash, html

In [2]:
app = Dash(__name__)

app.layout = html.Div('''This is a simple Dash application. Dash is a sister library for plotly and is built on top of React.Js and
                      Flask.''')

if __name__ == '__main__':
    app.run_server()

In [3]:
from dash import dcc

In [4]:
dropdown = dcc.Dropdown(options = ['Red', 'Blue', 'Green'], id = 'color', value = '')

In [5]:
type(dropdown)

dash.dcc.Dropdown.Dropdown

In [6]:
app = Dash(__name__)

app.layout = html.Div(['Select a color', dropdown])

if __name__ == '__main__':
    app.run_server()

# Managing Input and Outputs

In [7]:
from dash import Dash, dcc, html
from dash.dependencies import Input, Output

In [8]:
app = Dash(__name__)

dropdown = dcc.Dropdown(options = ['Red', 'Blue', 'Green', 'Yellow', 'Pink'], id = 'dropdown-color', value = '')

app.layout = html.Div(['Pick a color', dropdown, html.H3(id = 'color-shower')])


@app.callback(Output('color-shower', 'children'), Input('dropdown-color', 'value'))
def color_picker(color):
    return f"I like the color : {color}"

if __name__ == '__main__':
    app.run_server()

# dash assignment

    Create a dash application with the following front-end components.
    1. A text title 'Select a State to Analyze:'
    2. A dropdown menu that contains the options 'California', 'Oregon' and 'Washington'.
    3. Text 'State Selected: X' where X is the state selected in the dropdown menu.

In [9]:
from dash import Dash, html, dcc
from dash.dependencies import Input, Output


app = Dash(__name__)

dropdown = dcc.Dropdown(options = ['California', 'Oregon', 'Washington'], value = '', id = 'state-input')

app.layout = html.Div(['Select a State to Analyze:', dropdown, html.Div(id = 'state-output', children = '')])

@app.callback(Output('state-output', 'children'), Input('state-input', 'value'))
def state_picker(state : str) -> str:
    return f'State Selected : {state}'

if __name__ == '__main__':
    app.run_server(port = 8050, debug = True)

# Dash and Plotly app

In [10]:
from dash import Dash, html, dcc
from dash.dependencies import Input, Output
import pandas as pd

In [11]:
iris = pd.read_csv('datasets/iris.csv')
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [45]:
iris['Species'] == 'Iris-setosa'

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [12]:
iris['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [13]:
species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [14]:
import plotly.express as px

In [15]:
dropdown = dcc.Dropdown(options = species, value = '', id = 'species-input')

In [16]:
app = Dash(__name__)

app.layout = html.Div(['Select a Species', dropdown, dcc.Graph(id = 'species-output')])


@app.callback(Output('species-output', 'figure'), Input('species-input', 'value'))
def plotly_graph_maker(species : str):
    return px.scatter(iris[iris['Species'] == species], x = 'SepalLengthCm', y = 'PetalLengthCm')


if __name__ == '__main__':
    app.run_server(debug = True, port = 8050)

# Plotly

    Scatter plots allow the comparison of two variables for a set of data.

In [17]:
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [19]:
np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

data = [go.Scatter(x = random_x, y = random_y, 
                   mode = 'markers')]

pyo.plot(data, filename = 'scatter.html')

'basics.html'

In [34]:
np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

data = [go.Scatter(x = random_x, y = random_y, 
                   mode = 'markers', marker = dict(
            color='green',
            symbol = 'pentagon',
            size=20,
            line=dict(
                color='black',
                width=2
            )
        ))]

layout = go.Layout(
                    title = 'Hello First Plot',
                    xaxis = dict(title = 'My X Axis'),
                    yaxis = dict(title = 'My Y Axis'),
                    hovermode = 'closest'
                  )

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = 'scatter.html')

'scatter.html'

# Line plots in plotly

In [40]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values+5, mode = 'markers')

data = [trace0]

layout = go.Layout(title = 'This is to show different modes', xaxis = {'title':'My X Axis'}, yaxis = dict(title = 'My Y Axis'))

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'modes.html')

'modes.html'

In [41]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values+5, mode = 'markers', name = 'markers')
trace1 = go.Scatter(x = x_values, y = y_values, mode = 'markers+lines', name = 'markers with lines')

data = [trace0, trace1]

layout = go.Layout(title = 'This is to show different modes', xaxis = {'title':'My X Axis'}, yaxis = dict(title = 'My Y Axis'))

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'modes.html')

'modes.html'

In [44]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values+5, mode = 'markers', name = 'markers')
trace1 = go.Scatter(x = x_values, y = y_values, mode = 'markers+lines', name = 'markers with lines')
trace2 = go.Scatter(x = x_values, y = y_values-5, mode = 'lines', name = 'lines')

data = [trace0, trace1, trace2]

layout = go.Layout(title = 'This is to show different modes', xaxis = {'title':'My X Axis'}, yaxis = dict(title = 'My Y Axis'))

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'modes.html')

'modes.html'

# plotting iris dataset using plotly

In [45]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [46]:
iris = pd.read_csv('datasets/iris.csv')

In [50]:
species = iris.Species.value_counts().index

In [55]:
iris[iris['Species'] == 'Iris-setosa'].SepalLengthCm.values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. ])

In [61]:
# returns a list of all the sepal lengths for a given specie
def x_values_generator(specie: str):
    return iris[iris['Species'] == specie].SepalLengthCm.values

# returns a list of all the petal lengths for a given specie
def y_values_generator(specie: str):
    return iris[iris['Species'] == specie].PetalLengthCm.values

In [67]:
trace0 = go.Scatter(x = x_values_generator(species[0]), y = y_values_generator(species[0]),
                    mode = 'markers', marker = dict(color = 'red'), name = species[0])

trace1 = go.Scatter(x = x_values_generator(species[1]), y = y_values_generator(species[1]),
                    mode = 'markers', marker = dict(color = 'blue'), name = species[1])

trace2 = go.Scatter(x = x_values_generator(species[2]), y = y_values_generator(species[2]),
                    mode = 'markers', marker = dict(color = 'green'), name = species[2])


data = [trace0, trace1, trace2]

In [68]:
layout = go.Layout(title = 'Iris Species Sepal Vs Petal Lengths', 
                  xaxis = {'title': 'Sepal Length'},
                  yaxis = {'title': 'Petal Length'})

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'iris.html')

'iris.html'

# Line chart assignment

    Using the file 2010YumaAZ.csv, develop a line chart that plots seven days worth of temperature data on one graph.
    You can use a for loop to assign each day to its own trace.

In [69]:
df = pd.read_csv('datasets/2010YumaAZ.csv')

In [70]:
df

     LST_DATE      DAY LST_TIME  T_HR_AVG
0    20100601  TUESDAY     0:00      25.2
1    20100601  TUESDAY     1:00      24.1
2    20100601  TUESDAY     2:00      24.4
3    20100601  TUESDAY     3:00      24.9
4    20100601  TUESDAY     4:00      22.8
..        ...      ...      ...       ...
163  20100607   MONDAY    19:00      39.4
164  20100607   MONDAY    20:00      38.5
165  20100607   MONDAY    21:00      37.0
166  20100607   MONDAY    22:00      34.7
167  20100607   MONDAY    23:00      32.6

[168 rows x 4 columns]

In [71]:
days = df.DAY.value_counts().index

In [72]:
days

Index(['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY',
       'MONDAY'],
      dtype='object', name='DAY')

In [73]:
def temperatures(day : str):
    return df[df['DAY'] == day]['T_HR_AVG'].values

def times(day: str):
    return df[df['DAY'] == day]['LST_TIME'].values

In [74]:
data = [go.Scatter(x = times(day), y = temperatures(day), mode = 'lines', name = day) for day in days]
data

[Scatter({
     'mode': 'lines',
     'name': 'TUESDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([25.2, 24.1, 24.4, 24.9, 22.8, 19.8, 18.8, 21.2, 24.2, 27.1, 29.3, 30.6,
                 32.6, 34. , 34. , 34.9, 34.6, 33.8, 33.5, 32.8, 31. , 29. , 27.6, 26.3])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'WEDNESDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([23.8, 20.6, 19.1, 18.4, 18.9, 18.2, 17.9, 20.2, 23.8, 26.1, 27.9, 29.3,
                 30.9, 32.2, 33.1, 33.7, 34.5, 34.7, 34.8, 34.2, 32.8, 31. , 28.7, 25.5])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'THURSDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([24.3, 23.1, 21.8, 19.8, 18.5, 19.2, 19.7, 20.7, 23.2, 26.1, 28.6, 30.8,
                 32.3, 33.8, 34.9, 35.8, 35.9, 36.3, 35.8, 35.4, 34.2, 32.7, 31.1, 28.6])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'FRIDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([26.4, 25.4, 24.2, 23.6, 22.5, 21. , 21.3, 22.5, 24.7, 28.1, 30.6, 32.5,
                 33.9, 35.5, 36.6, 37.2, 37.8, 38.1, 38.2, 37.4, 36. , 34.4, 32.6, 30.1])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'SATURDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([28.3, 27.3, 26.3, 25.3, 24.7, 24.7, 23.9, 24.7, 27.7, 30.4, 32.6, 34.8,
                 36.4, 37.2, 38.4, 39.7, 40. , 40.4, 40.1, 39. , 37.3, 35.7, 33.9, 31.4])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'SUNDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([29.7, 28.6, 26.9, 25.9, 25.2, 24.8, 23.9, 26.1, 27.9, 30.5, 33.7, 35.6,
                 36.9, 38.4, 39.2, 40.2, 40.6, 40.6, 40.3, 39.5, 37.9, 36.5, 35. , 32.9])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'MONDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([30.9, 28.7, 26.9, 25.2, 24.1, 24.3, 23.4, 25.7, 28.5, 30.7, 32.5, 34.1,
                 36.1, 37.6, 39. , 40.2, 40.3, 40.2, 40.1, 39.4, 38.5, 37. , 34.7, 32.6])
 })]

In [76]:
layout = go.Layout(title = 'Temperature Vs Time Graph For Various Days', 
                   xaxis = dict(title = 'time'), 
                   yaxis = dict(title = 'temperature'))

In [77]:
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = 'line_chart_assignment.html')

'line_chart_assignment.html'