In [ ]:
from dash import Dash
import dash_core_components as dcc # deprecated
import dash_html_components as html # deprecated

In [1]:
from dash import Dash, html, dcc

In [2]:
# create an instance of Dash
app = Dash(__name__)

# layout of the dash application
app.layout = html.Div(children = html.H1('My First Dash App'))

# to run the dash application
if __name__ == '__main__':
    # by default also the port number is 8050 and by default the debug value is False.
    app.run_server(port = 8050, debug = True)

# showing plotly graph in Dash

In [3]:
import seaborn as sb

In [5]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [7]:
iris = sb.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
import plotly.graph_objs as go
import numpy as np
import pandas as pd

In [14]:
trace = go.Scatter(x = iris['sepal_length'], y = iris['petal_length'], mode = 'markers')
data = [trace]

layout = go.Layout(title = 'petal length vs sepal length',
                   xaxis = dict(title = 'sepal length'),
                   yaxis = dict(title = 'petal length')
                  )

fig = go.Figure(data = data, layout = layout)

In [15]:
app = Dash(__name__)

app.layout = html.Div(children = [html.H1('Iris Dataset Graph'), 
                                  dcc.Graph(id = 'graph', figure=fig)])

if __name__ == '__main__':
    app.run_server(port = 8050, debug = True)