# DataFrame I

In [1]:
import numpy as np
import pandas as pd

In [2]:
pokemons = pd.read_csv('datasets/pokemon.csv', index_col = [0]).squeeze(True)
pokemons

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [3]:
nba = pd.read_csv('datasets/nba.csv')
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### some methds and attributes are common in series and dataframes.

In [4]:
print(pokemons.shape)
print(nba.shape)

(1010,)
(592, 7)

In [5]:
print(pokemons.size)
print(nba.size)

1010
4144

In [6]:
print(pokemons.ndim)
print(nba.ndim)

1
2

In [7]:
print(pokemons.dtype)
print('*' * 20)
print(nba.dtypes) # Note that here we have 'dtypes'

object
********************
Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [10]:
print(pokemons.index)
print('*' * 100)
print(nba.index)

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       ...
       'Wo-Chien', 'Chien-Pao', 'Ting-Lu', 'Chi-Yu', 'Roaring Moon',
       'Iron Valiant', 'Koraidon', 'Miraidon', 'Walking Wake', 'Iron Leaves'],
      dtype='object', name='Name', length=1010)
****************************************************************************************************
RangeIndex(start=0, stop=592, step=1)

#### some attributes are present only in dataframes

In [11]:
# pokemons.columns # error
nba.columns

Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'College', 'Salary'], dtype='object')

#### some attributes are present only in series.

In [12]:
pokemons.hasnans

False

In [14]:
try:
    nba.hasnans
except AttributeError as ex:
    print(ex)

'DataFrame' object has no attribute 'hasnans'