# Series

    Series is a 1 DS in pandas.

    Associative containers -- key, value
    [10, 20, 30, 40, 50]
      0,   1, 2,  3,  4

    {'name':'Abhishek', 'age' :23, 'city' :'New Delhi'}

    pandas asscoiative container -- series(keys comes from index and values are provided in a list)

In [3]:
import numpy as np
import pandas as pd

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
list(s.index)

[0, 1, 2, 3]

In [8]:
s.values, type(s.values)

(array([10, 20, 30, 40], dtype=int64), numpy.ndarray)

In [10]:
z = s.items() # It returns us the key value pairs
# iterator

In [11]:
list(z)

[(0, 10), (1, 20), (2, 30), (3, 40)]

In [12]:
list(z)

[]

# Explicit index

In [13]:
s = pd.Series([10, 20, 30, 40], index = list('abcd'))
s

a    10
b    20
c    30
d    40
dtype: int64

In [14]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
type(s.index)

pandas.core.indexes.base.Index

In [16]:
s.values

array([10, 20, 30, 40], dtype=int64)

In [17]:
s['a']

10

In [18]:
s[0]

C:\Users\HU496FA\AppData\Local\Temp\ipykernel_13372\243613605.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0]

10

In [19]:
capitals = {
    'USA' : 'Washington D.C.',
    'Canada' : 'Ottawa',
    'UK' : 'London',
    "France":'Paris'
}

In [20]:
s = pd.Series(capitals)

In [21]:
s

USA       Washington D.C.
Canada             Ottawa
UK                 London
France              Paris
dtype: object

In [22]:
s.index

Index(['USA', 'Canada', 'UK', 'France'], dtype='object')

In [23]:
s.values

array(['Washington D.C.', 'Ottawa', 'London', 'Paris'], dtype=object)

In [24]:
for country, capital in s.items():
    print(f"Capital({country}) = {capital}")

Capital(USA) = Washington D.C.
Capital(Canada) = Ottawa
Capital(UK) = London
Capital(France) = Paris

# Fancy Indexing

In [25]:
s

USA       Washington D.C.
Canada             Ottawa
UK                 London
France              Paris
dtype: object

In [28]:
s[['USA', 'UK']] # series

USA    Washington D.C.
UK              London
dtype: object

In [29]:
type(s[['USA', 'UK']] )

pandas.core.series.Series

# Boolean masking

In [30]:
s = pd.Series([i ** 2 for i in range(1, 11)], index = list('abcdefghij'))
s

a      1
b      4
c      9
d     16
e     25
f     36
g     49
h     64
i     81
j    100
dtype: int64

In [32]:
mask = s > 30
mask # boolean series

a    False
b    False
c    False
d    False
e    False
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [33]:
s[mask]

f     36
g     49
h     64
i     81
j    100
dtype: int64

# Slicing

In [34]:
s

a      1
b      4
c      9
d     16
e     25
f     36
g     49
h     64
i     81
j    100
dtype: int64

In [35]:
s[0:5] # last point is not included

a     1
b     4
c     9
d    16
e    25
dtype: int64

In [37]:
s['a':'f': 2] # last point is included

a     1
c     9
e    25
dtype: int64

# Point of confusion

In [41]:
s = pd.Series([i * 34 for i in range(1, 11)], index = range(1,11))
s

1      34
2      68
3     102
4     136
5     170
6     204
7     238
8     272
9     306
10    340
dtype: int64

In [42]:
s.iloc[2]
# accesor --> .iloc[] .loc[]

102

In [43]:
s.loc[2]

68

In [44]:
s.loc[[2, 10, 2+7-8]]

2      68
10    340
1      34
dtype: int64

In [45]:
s.iloc[[1, 0, -5+10]]

2     68
1     34
6    204
dtype: int64

In [46]:
s

1      34
2      68
3     102
4     136
5     170
6     204
7     238
8     272
9     306
10    340
dtype: int64

In [47]:
s.iloc[0: 4] # end point is not included

1     34
2     68
3    102
4    136
dtype: int64

In [48]:
s.loc[1:6]

1     34
2     68
3    102
4    136
5    170
6    204
dtype: int64