# A simple dash app

In [1]:
from dash import Dash, html

In [2]:
app = Dash(__name__)

app.layout = html.Div('''This is a simple Dash application. Dash is a sister library for plotly and is built on top of React.Js and
                      Flask.''')

if __name__ == '__main__':
    app.run_server()

In [3]:
from dash import dcc

In [4]:
dropdown = dcc.Dropdown(options = ['Red', 'Blue', 'Green'], id = 'color', value = '')

In [5]:
type(dropdown)

dash.dcc.Dropdown.Dropdown

In [6]:
app = Dash(__name__)

app.layout = html.Div(['Select a color', dropdown])

if __name__ == '__main__':
    app.run_server()

# Managing Input and Outputs

In [7]:
from dash import Dash, dcc, html
from dash.dependencies import Input, Output

In [8]:
app = Dash(__name__)

dropdown = dcc.Dropdown(options = ['Red', 'Blue', 'Green', 'Yellow', 'Pink'], id = 'dropdown-color', value = '')

app.layout = html.Div(['Pick a color', dropdown, html.H3(id = 'color-shower')])


@app.callback(Output('color-shower', 'children'), Input('dropdown-color', 'value'))
def color_picker(color):
    return f"I like the color : {color}"

if __name__ == '__main__':
    app.run_server()

# dash assignment

    Create a dash application with the following front-end components.
    1. A text title 'Select a State to Analyze:'
    2. A dropdown menu that contains the options 'California', 'Oregon' and 'Washington'.
    3. Text 'State Selected: X' where X is the state selected in the dropdown menu.

In [9]:
from dash import Dash, html, dcc
from dash.dependencies import Input, Output


app = Dash(__name__)

dropdown = dcc.Dropdown(options = ['California', 'Oregon', 'Washington'], value = '', id = 'state-input')

app.layout = html.Div(['Select a State to Analyze:', dropdown, html.Div(id = 'state-output', children = '')])

@app.callback(Output('state-output', 'children'), Input('state-input', 'value'))
def state_picker(state : str) -> str:
    return f'State Selected : {state}'

if __name__ == '__main__':
    app.run_server(port = 8050, debug = True)

# Dash and Plotly app

In [10]:
from dash import Dash, html, dcc
from dash.dependencies import Input, Output
import pandas as pd

In [11]:
iris = pd.read_csv('datasets/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
iris['class'] == 'Iris-setosa'

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: class, Length: 150, dtype: bool

In [16]:
iris['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [17]:
species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [18]:
import plotly.express as px

In [19]:
dropdown = dcc.Dropdown(options = species, value = '', id = 'species-input')

In [20]:
app = Dash(__name__)

app.layout = html.Div(['Select a Species', dropdown, dcc.Graph(id = 'species-output')])


@app.callback(Output('species-output', 'figure'), Input('species-input', 'value'))
def plotly_graph_maker(species : str):
    return px.scatter(iris[iris['Species'] == species], x = 'SepalLengthCm', y = 'PetalLengthCm')


if __name__ == '__main__':
    app.run_server(debug = True, port = 8050)

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File ~\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\indexes\base.py:3791, in Index.get_loc(
    self=Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object'),
    key='Species'
)
   3790 try:
-> 3791     return self._engine.get_loc(casted_key)
        casted_key = 'Species'
        self = Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')
   3792 except KeyError as err:

File index.pyx:152, in pandas._libs.index.IndexEngine.get_loc()

File index.pyx:181, in pandas._libs.index.IndexEngine.get_loc()

File pandas\_libs\hashtable_class_helper.pxi:7080, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas\_libs\hashtable_class_helper.pxi:7088, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'Species'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
KeyError: 'Species'

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File ~\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\indexes\base.py:3791, in Index.get_loc(
    self=Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object'),
    key='Species'
)
   3790 try:
-> 3791     return self._engine.get_loc(casted_key)
        casted_key = 'Species'
        self = Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')
   3792 except KeyError as err:

File index.pyx:152, in pandas._libs.index.IndexEngine.get_loc()

File index.pyx:181, in pandas._libs.index.IndexEngine.get_loc()

File pandas\_libs\hashtable_class_helper.pxi:7080, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas\_libs\hashtable_class_helper.pxi:7088, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'Species'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
KeyError: 'Species'

# Plotly

    Scatter plots allow the comparison of two variables for a set of data.

In [21]:
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [22]:
np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

data = [go.Scatter(x = random_x, y = random_y, 
                   mode = 'markers')]

pyo.plot(data, filename = 'scatter.html')

'scatter.html'

In [23]:
np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

data = [go.Scatter(x = random_x, y = random_y, 
                   mode = 'markers', marker = dict(
            color='green',
            symbol = 'pentagon',
            size=20,
            line=dict(
                color='black',
                width=2
            )
        ))]

layout = go.Layout(
                    title = 'Hello First Plot',
                    xaxis = dict(title = 'My X Axis'),
                    yaxis = dict(title = 'My Y Axis'),
                    hovermode = 'closest'
                  )

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = 'scatter.html')

'scatter.html'

# Line plots in plotly

In [24]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values+5, mode = 'markers')

data = [trace0]

layout = go.Layout(title = 'This is to show different modes', xaxis = {'title':'My X Axis'}, yaxis = dict(title = 'My Y Axis'))

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'modes.html')

'modes.html'

In [25]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values+5, mode = 'markers', name = 'markers')
trace1 = go.Scatter(x = x_values, y = y_values, mode = 'markers+lines', name = 'markers with lines')

data = [trace0, trace1]

layout = go.Layout(title = 'This is to show different modes', xaxis = {'title':'My X Axis'}, yaxis = dict(title = 'My Y Axis'))

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'modes.html')

'modes.html'

In [90]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x = x_values, y = y_values+5, mode = 'markers',  name = 'markers')
trace1 = go.Scatter(x = x_values, y = y_values, mode = 'markers+lines', name = 'markers with lines')
trace2 = go.Scatter(x = x_values, y = y_values-5, mode = 'lines', name = 'lines')

data = [trace0, trace1, trace2]

layout = go.Layout(title = 'This is to show different modes', xaxis = {'title':'My X Axis'}, yaxis = dict(title = 'My Y Axis'))

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'modes.html')

'modes.html'

# plotting iris dataset using plotly

In [27]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [32]:
iris = pd.read_csv('datasets/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [34]:
species = iris['class'].value_counts().index

In [37]:
iris[iris['class'] == 'Iris-setosa'].sepal_length.values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. ])

In [40]:
# returns a list of all the sepal lengths for a given specie
def x_values_generator(specie: str):
    return iris[iris['class'] == specie].sepal_length.values

# returns a list of all the petal lengths for a given specie
def y_values_generator(specie: str):
    return iris[iris['class'] == specie].petal_length.values

In [41]:
trace0 = go.Scatter(x = x_values_generator(species[0]), y = y_values_generator(species[0]),
                    mode = 'markers', marker = dict(color = 'red'), name = species[0])

trace1 = go.Scatter(x = x_values_generator(species[1]), y = y_values_generator(species[1]),
                    mode = 'markers', marker = dict(color = 'blue'), name = species[1])

trace2 = go.Scatter(x = x_values_generator(species[2]), y = y_values_generator(species[2]),
                    mode = 'markers', marker = dict(color = 'green'), name = species[2])


data = [trace0, trace1, trace2]

In [68]:
layout = go.Layout(title = 'Iris Species Sepal Vs Petal Lengths', 
                  xaxis = {'title': 'Sepal Length'},
                  yaxis = {'title': 'Petal Length'})

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig, filename = 'iris.html')

'iris.html'

# Line chart assignment

    Using the file 2010YumaAZ.csv, develop a line chart that plots seven days worth of temperature data on one graph.
    You can use a for loop to assign each day to its own trace.

In [42]:
df = pd.read_csv('datasets/2010YumaAZ.csv')

In [43]:
df

     LST_DATE      DAY LST_TIME  T_HR_AVG
0    20100601  TUESDAY     0:00      25.2
1    20100601  TUESDAY     1:00      24.1
2    20100601  TUESDAY     2:00      24.4
3    20100601  TUESDAY     3:00      24.9
4    20100601  TUESDAY     4:00      22.8
..        ...      ...      ...       ...
163  20100607   MONDAY    19:00      39.4
164  20100607   MONDAY    20:00      38.5
165  20100607   MONDAY    21:00      37.0
166  20100607   MONDAY    22:00      34.7
167  20100607   MONDAY    23:00      32.6

[168 rows x 4 columns]

In [44]:
days = df.DAY.value_counts().index

In [45]:
days

Index(['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY',
       'MONDAY'],
      dtype='object', name='DAY')

In [46]:
def temperatures(day : str):
    return df[df['DAY'] == day]['T_HR_AVG'].values

def times(day: str):
    return df[df['DAY'] == day]['LST_TIME'].values

In [47]:
data = [go.Scatter(x = times(day), y = temperatures(day), mode = 'lines', name = day) for day in days]
data

[Scatter({
     'mode': 'lines',
     'name': 'TUESDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([25.2, 24.1, 24.4, 24.9, 22.8, 19.8, 18.8, 21.2, 24.2, 27.1, 29.3, 30.6,
                 32.6, 34. , 34. , 34.9, 34.6, 33.8, 33.5, 32.8, 31. , 29. , 27.6, 26.3])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'WEDNESDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([23.8, 20.6, 19.1, 18.4, 18.9, 18.2, 17.9, 20.2, 23.8, 26.1, 27.9, 29.3,
                 30.9, 32.2, 33.1, 33.7, 34.5, 34.7, 34.8, 34.2, 32.8, 31. , 28.7, 25.5])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'THURSDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([24.3, 23.1, 21.8, 19.8, 18.5, 19.2, 19.7, 20.7, 23.2, 26.1, 28.6, 30.8,
                 32.3, 33.8, 34.9, 35.8, 35.9, 36.3, 35.8, 35.4, 34.2, 32.7, 31.1, 28.6])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'FRIDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([26.4, 25.4, 24.2, 23.6, 22.5, 21. , 21.3, 22.5, 24.7, 28.1, 30.6, 32.5,
                 33.9, 35.5, 36.6, 37.2, 37.8, 38.1, 38.2, 37.4, 36. , 34.4, 32.6, 30.1])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'SATURDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([28.3, 27.3, 26.3, 25.3, 24.7, 24.7, 23.9, 24.7, 27.7, 30.4, 32.6, 34.8,
                 36.4, 37.2, 38.4, 39.7, 40. , 40.4, 40.1, 39. , 37.3, 35.7, 33.9, 31.4])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'SUNDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([29.7, 28.6, 26.9, 25.9, 25.2, 24.8, 23.9, 26.1, 27.9, 30.5, 33.7, 35.6,
                 36.9, 38.4, 39.2, 40.2, 40.6, 40.6, 40.3, 39.5, 37.9, 36.5, 35. , 32.9])
 }),
 Scatter({
     'mode': 'lines',
     'name': 'MONDAY',
     'x': array(['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00',
                 '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00',
                 '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                dtype=object),
     'y': array([30.9, 28.7, 26.9, 25.2, 24.1, 24.3, 23.4, 25.7, 28.5, 30.7, 32.5, 34.1,
                 36.1, 37.6, 39. , 40.2, 40.3, 40.2, 40.1, 39.4, 38.5, 37. , 34.7, 32.6])
 })]

In [48]:
layout = go.Layout(title = 'Temperature Vs Time Graph For Various Days', 
                   xaxis = dict(title = 'time'), 
                   yaxis = dict(title = 'temperature'))

In [49]:
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = 'line_chart_assignment.html')

'line_chart_assignment.html'

# Line chart assignment 2

    Take the data 'population.csv' and plot the lines + markers graph for the population estimates of the six new england states.

In [50]:
population = pd.read_csv('datasets/population.csv')

In [51]:
population

,Name,PopEstimate2010,PopEstimate2011,PopEstimate2012,PopEstimate2013,PopEstimate2014,PopEstimate2015,PopEstimate2016,PopEstimate2017
0,Connecticut,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
1,Maine,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
2,Massachusetts,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
3,New Hampshire,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
4,Rhode Island,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639
5,Vermont,625842,626210,625606,626044,625665,624455,623354,623657

In [52]:
states = population['Name'].values

In [53]:
states
enumerated_states = list(enumerate(states))
enumerated_states

[(0, 'Connecticut'),
 (1, 'Maine'),
 (2, 'Massachusetts'),
 (3, 'New Hampshire'),
 (4, 'Rhode Island'),
 (5, 'Vermont')]

In [54]:
years = population.columns[1:]

Index(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
       'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
       'PopEstimate2016', 'PopEstimate2017'],
      dtype='object')

In [56]:
def population_by_enumerated_state(enumerated_state: tuple[int, str]):
    index, state = enumerated_state
    
    return np.array([population[year][index] for year in years])

In [57]:
population_by_enumerated_state(enumerated_states[2])

array([6564943, 6612178, 6659627, 6711138, 6757925, 6794002, 6823721,
       6859819], dtype=int64)

In [58]:
data = [go.Scatter(x = years, y = population_by_enumerated_state(enumerated_state), mode = 'markers+lines', 
                   name = enumerated_state[1]) \
        for enumerated_state in enumerated_states
       ]

In [59]:
data

[Scatter({
     'mode': 'markers+lines',
     'name': 'Connecticut',
     'x': array(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
                 'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
                 'PopEstimate2016', 'PopEstimate2017'], dtype=object),
     'y': array([3580171, 3591927, 3597705, 3602470, 3600188, 3593862, 3587685, 3588184],
                dtype=int64)
 }),
 Scatter({
     'mode': 'markers+lines',
     'name': 'Maine',
     'x': array(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
                 'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
                 'PopEstimate2016', 'PopEstimate2017'], dtype=object),
     'y': array([1327568, 1327968, 1328101, 1327975, 1328903, 1327787, 1330232, 1335907],
                dtype=int64)
 }),
 Scatter({
     'mode': 'markers+lines',
     'name': 'Massachusetts',
     'x': array(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
                 'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
                 'PopEstimate2016', 'PopEstimate2017'], dtype=object),
     'y': array([6564943, 6612178, 6659627, 6711138, 6757925, 6794002, 6823721, 6859819],
                dtype=int64)
 }),
 Scatter({
     'mode': 'markers+lines',
     'name': 'New Hampshire',
     'x': array(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
                 'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
                 'PopEstimate2016', 'PopEstimate2017'], dtype=object),
     'y': array([1316700, 1318345, 1320923, 1322622, 1328684, 1330134, 1335015, 1342795],
                dtype=int64)
 }),
 Scatter({
     'mode': 'markers+lines',
     'name': 'Rhode Island',
     'x': array(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
                 'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
                 'PopEstimate2016', 'PopEstimate2017'], dtype=object),
     'y': array([1053169, 1052154, 1052761, 1052784, 1054782, 1055916, 1057566, 1059639],
                dtype=int64)
 }),
 Scatter({
     'mode': 'markers+lines',
     'name': 'Vermont',
     'x': array(['PopEstimate2010', 'PopEstimate2011', 'PopEstimate2012',
                 'PopEstimate2013', 'PopEstimate2014', 'PopEstimate2015',
                 'PopEstimate2016', 'PopEstimate2017'], dtype=object),
     'y': array([625842, 626210, 625606, 626044, 625665, 624455, 623354, 623657],
                dtype=int64)
 })]

In [60]:
layout = go.Layout(title = 'population estimates of the six new england states.',
                   xaxis = dict(title = 'years'),
                   yaxis = dict(title = 'population'))

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'population_estimates_of_the_six_new_england_states.html'

# Bar chart

    Using Bar charts, we can visualize categorical data.
    Typically, the x-axis is the categories and the y-axis is the number of elements in each category.
    
    We have different types of bar chart:
    1. Simple bar chart
    2. Stacked bar chart
    3. Nested bar chart

In [67]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [68]:
df = pd.read_csv('datasets/2018WinterOlympics.csv')

In [69]:
df

    Rank                NOC  Gold  Silver  Bronze  Total
0      1             Norway    14      14      11     39
1      2            Germany    14      10       7     31
2      3             Canada    11       8      10     29
3      4      United States     9       8       6     23
4      5        Netherlands     8       6       6     20
5      6             Sweden     7       6       1     14
6      7  Republic of Korea     5       8       4     17
7      8        Switzerland     5       6       4     15
8      9             France     5       4       6     15
9     10            Austria     5       3       6     14
10    11              Japan     4       5       4     13
11    12              Italy     3       2       5     10
12    13                OAR     2       6       9     17
13    14     Czech Republic     2       2       3      7
14    15            Belarus     2       1       0      3
15    16              China     1       6       2      9
16    17           Slovakia     1       2       0      3
17    18            Finland     1       1       4      6
18    19      Great Britain     1       0       4      5
19    20             Poland     1       0       1      2
20    21            Hungary     1       0       0      1
21    21            Ukraine     1       0       0      1
22    23          Australia     0       2       1      3
23    24           Slovenia     0       1       1      2
24    25            Belgium     0       1       0      1
25    26              Spain     0       0       2      2
26    26        New Zealand     0       0       2      2
27    28         Kazakhstan     0       0       1      1
28    28             Latvia     0       0       1      1
29    28      Liechtenstein     0       0       1      1

In [70]:
data = [go.Bar(x = df['NOC'], y = df['Total'])]
layout = go.Layout(title = 'Medals')

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'simple_bar_chart.html'

### Nested bar chart example

In [71]:


trace0 = go.Bar(x = df['NOC'], y = df['Gold'], name = 'Gold', marker = dict(color = '#FFD700'))
trace1 = go.Bar(x = df['NOC'], y = df['Silver'], name = 'Silver', marker = dict(color = '#C0C0C0'))
trace2 = go.Bar(x = df['NOC'], y = df['Bronze'], name = 'Bronze', marker = dict(color = '#CD7F32'))

data = [trace0, trace1, trace2]

layout = go.Layout(title = 'Medals')

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'nested_bar_chart.html'

### Stacked bar chart

In [73]:
trace0 = go.Bar(x = df['NOC'], y = df['Gold'], name = 'Gold', marker = dict(color = '#FFD700'))
trace1 = go.Bar(x = df['NOC'], y = df['Silver'], name = 'Silver', marker = dict(color = '#C0C0C0'))
trace2 = go.Bar(x = df['NOC'], y = df['Bronze'], name = 'Bronze', marker = dict(color = '#CD7F32'))

data = [trace0, trace1, trace2]


# just set the barmode to 'stack' in go.Layout() method
layout = go.Layout(title = 'Medals', barmode = 'stack')

fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'stacked_bar_chart.html'

### Bar chart exercise

        Create a stacked bar chart from the file 'mocksurvey.csv'. Note that the questions appear in the index
        (and should be used for the x axis), while responses appear as column labels.

In [74]:
df = pd.read_csv('datasets/mocksurvey.csv')

In [75]:
df

,Unnamed: 0,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [76]:
questions = df['Unnamed: 0'].values

In [77]:
questions # These will be used as x axis labels.

array(['Question 1', 'Question 2', 'Question 3'], dtype=object)

In [78]:
categories = df.columns[1:]
categories

Index(['Strongly Agree', 'Somewhat Agree', 'Neutral', 'Somewhat Disagree',
       'Strongly Disagree'],
      dtype='object')

In [80]:
def values_giver(category:str):
    return [df[category][i] for i in range(len(questions))]

In [81]:
values_giver('Strongly Agree')

[0.45, 0.12, 0.05]

In [82]:
data = [go.Bar(x = questions, y = values_giver(category), name = category) for category in categories]

In [83]:
data

[Bar({
     'name': 'Strongly Agree',
     'x': array(['Question 1', 'Question 2', 'Question 3'], dtype=object),
     'y': [0.45, 0.12, 0.05]
 }),
 Bar({
     'name': 'Somewhat Agree',
     'x': array(['Question 1', 'Question 2', 'Question 3'], dtype=object),
     'y': [0.25, 0.07, 0.22]
 }),
 Bar({
     'name': 'Neutral', 'x': array(['Question 1', 'Question 2', 'Question 3'], dtype=object), 'y': [0.1, 0.48, 0.19]
 }),
 Bar({
     'name': 'Somewhat Disagree',
     'x': array(['Question 1', 'Question 2', 'Question 3'], dtype=object),
     'y': [0.12, 0.18, 0.23]
 }),
 Bar({
     'name': 'Strongly Disagree',
     'x': array(['Question 1', 'Question 2', 'Question 3'], dtype=object),
     'y': [0.08, 0.15, 0.31]
 })]

In [85]:
layout = go.Layout(title = 'bar_chart_assignment_one', xaxis = dict(title = 'questions'), yaxis = dict(title = 'opinion'), barmode = 'stack')

In [86]:
fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'bar_chart_assignment_one.html'

### How to make horizontal chart?

    To make a bar chart horizontal we just need to pass "orientation = 'h'" in the go.Bar() method and reverse x and y.

In [91]:
df = pd.read_csv('datasets/mocksurvey.csv')
questions = df['Unnamed: 0'].values
categories = df.columns[1:]

def values_giver(category:str):
    return [df[category][i] for i in range(len(questions))]

data = [go.Bar(y = questions, x = values_giver(category), name = category, orientation='h') for category in categories]

layout = go.Layout(title = 'bar_chart_assignment_one', xaxis = dict(title = 'questions'), 
                   yaxis = dict(title = 'opinion'), barmode = 'stack')
fig = go.Figure(data = data, layout = layout)

pyo.plot(fig)

'bar_chart_assignment_one_horizontal.html'

# Bubble chart

    Bubble chart is the same as the scatter plot. It is just that we have different sizes for each marker based on some other numerical plot.
    For plotting the bubble chart, we use pyo.Scatter() method and just use the size parameter in the marker attribute of this function.

In [96]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df = pd.read_csv('datasets/mpg.csv')

In [97]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [118]:
trace = go.Scatter(x = df['horsepower'], 
                   y = df['mpg'], 
                   text = df['name'],
                   mode = 'markers',
                   marker = dict(size = df['weight'] / 100, color = df['cylinders'], showscale=True),
                  )

data = [trace]

layout = go.Layout(title = 'Bubble Chart')

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'scatter_plot_with_text.html'